<html>
	<style type = "text/css">
	.images{
		border-radius: 15px;
	}	
	body{
	background-color: grey;
	color: white;
	}
	h1{
	text-align: center;
	color: purple;
	} 
	.button{
	background-color: purple; 
	border: 1px solid black;
	color: white;
	padding: 10px 21px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 9px;
	float: left;
	}				
	.button2{<!-- CURRENTLY NOT USED -->
	background-color: purple; 
	border: 1px solid black;
	color: white;
	padding: 10px 21px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 9px;
	}		
	#reviewSection{
	background-color:gray;		
	text-align: center;
	}
	.pendingReviewSection{
		border: 2px dotted purple;	
	}
	</style>
</html>