<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
<servlet>
	<servlet-name>homeServlet</servlet-name>
	<servlet-class>tedtalk.servlet.homeservlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>profileServlet</servlet-name>
	<servlet-class>tedtalk.servlet.profileservlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>loginServlet</servlet-name>
	<servlet-class>tedtalk.servlet.loginservlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>reviewServlet</servlet-name>
	<servlet-class>tedtalk.servlet.reviewservlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>requestServlet</servlet-name>
	<servlet-class>tedtalk.servlet.requestservlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>homeServlet</servlet-name>
	<url-pattern>/home</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>loginServlet</servlet-name>
	<url-pattern>/login</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>reviewServlet</servlet-name>
	<url-pattern>/review</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>requestServlet</servlet-name>
	<url-pattern>/request</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>profileServlet</servlet-name>
	<url-pattern>/profile</url-pattern>
</servlet-mapping>

</web-app>