<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
<servlet>
	<servlet-name>homeServlet</servlet-name>
	<servlet-class>tedtalk.servlet.homeservlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>profileServlet</servlet-name>
	<servlet-class>tedtalk.servlet.profileservlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>studentServlet</servlet-name>
	<servlet-class>tedtalk.servlet.studentservlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>professorServlet</servlet-name>
	<servlet-class>tedtalk.servlet.professorservlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>networkAdminServlet</servlet-name>
	<servlet-class>tedtalk.servlet.networkadminservlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>loginServlet</servlet-name>
	<servlet-class>tedtalk.servlet.loginservlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>reviewServlet</servlet-name>
	<servlet-class>tedtalk.servlet.reviewservlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>professorSettingServlet</servlet-name>
	<servlet-class>tedtalk.servlet.professorsettingservlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>createAdminServlet</servlet-name>
	<servlet-class>tedtalk.servlet.createadminservlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>createProfessorServlet</servlet-name>
	<servlet-class>tedtalk.servlet.createprofessorservlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>networkAdminSettingServlet</servlet-name>
	<servlet-class>tedtalk.servlet.networkadminsettingservlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>createStudentServlet</servlet-name>
	<servlet-class>tedtalk.servlet.createstudentservlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>networkAdminHomeServlet</servlet-name>
	<servlet-class>tedtalk.servlet.networkadminhomeservlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>professorHomeServlet</servlet-name>
	<servlet-class>tedtalk.servlet.professorhomeservlet</servlet-class>
</servlet><servlet>
	<servlet-name>studentHomeServlet</servlet-name>
	<servlet-class>tedtalk.servlet.studenthomeservlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>promoteDemoteServlet</servlet-name>
    <servlet-class>tedtalk.servlet.promotedemoteservlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>removeAccountServlet</servlet-name>
    <servlet-class>tedtalk.servlet.removeaccountservlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>removeStudentServlet</servlet-name>
    <servlet-class>tedtalk.servlet.removestudentservlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>resultServlet</servlet-name>
	<servlet-class>tedtalk.servlet.resultservlet</servlet-class>
</servlet>
    

<!-- servlet mapping -->
<servlet-mapping>
	<servlet-name>homeServlet</servlet-name>
	<url-pattern>/home</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>networkAdminHomeServlet</servlet-name>
	<url-pattern>/networkadminHome</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>professorHomeServlet</servlet-name>
	<url-pattern>/professorHome</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>studentHomeServlet</servlet-name>
	<url-pattern>/studentHome</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>loginServlet</servlet-name>
	<url-pattern>/login</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>reviewServlet</servlet-name>
	<url-pattern>/review</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>profileServlet</servlet-name>
	<url-pattern>/profile</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>studentServlet</servlet-name>
	<url-pattern>/student</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>networkAdminServlet</servlet-name>
	<url-pattern>/networkAdmin</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>networkAdminSettingServlet</servlet-name>
	<url-pattern>/networkadminSetting</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>createProfessorServlet</servlet-name>
	<url-pattern>/createProfessor</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>createStudentServlet</servlet-name>
	<url-pattern>/createStudent</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>createAdminServlet</servlet-name>
	<url-pattern>/createAdmin</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>professorServlet</servlet-name>
	<url-pattern>/professor</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>professorSettingServlet</servlet-name>
	<url-pattern>/professorSetting</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>promoteDemoteServlet</servlet-name>
	<url-pattern>/promoteDemote</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>removeAccountServlet</servlet-name>
	<url-pattern>/removeAcc</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>removeStudentServlet</servlet-name>
	<url-pattern>/removeStudent</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>resultServlet</servlet-name>
	<url-pattern>/result</url-pattern>
</servlet-mapping>
</web-app>	